#Navigation {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: $sidebar-width;
  padding: $spacer * 3 0;
  background-color: $light-bg;

  .Logo {
    width: 65px;
  }
}
